In [3]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [4]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_data = pd.read_csv(".\Resources\lending_data.csv")


# Review the DataFrame
lending_data

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [5]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = lending_data['loan_status']

# Separate the X variable, the features
X = lending_data.drop(columns=['loan_status'])

print("Shape of y (labels):", y.shape)
print("Shape of X (features):", X.shape)

Shape of y (labels): (77536,)
Shape of X (features): (77536, 7)

In [6]:
# Review the y variable Series
print(y.head())

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [7]:
# Review the X variable DataFrame
X

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600
77532,17700.0,10.662,80900,0.629172,11,2,50900
77533,17600.0,10.595,80300,0.626401,11,2,50300
77534,16300.0,10.068,75300,0.601594,10,2,45300
77535,15600.0,9.742,72300,0.585062,9,2,42300

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [8]:
# Check the balance of our target values
label_counts = y.value_counts()
print(label_counts)

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [9]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (62028, 7)
Shape of X_test: (15508, 7)
Shape of y_train: (62028,)
Shape of y_test: (15508,)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [10]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
logistic_regression_model = LogisticRegression(random_state=1)

# Fit the model to the training data
logistic_regression_model.fit(X_train, y_train)

# Print a message indicating that the model has been trained
print("Logistic Regression model trained successfully.")

Logistic Regression model trained successfully.

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [11]:
# Make a prediction using the testing data
predictions = logistic_regression_model.predict(X_test)

# Print a message indicating that predictions have been made
print("Predictions made successfully.")

Predictions made successfully.

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [12]:
# Print the balanced_accuracy score of the model
balanced_accuracy = balanced_accuracy_score(y_test, predictions)

# Print the balanced accuracy score
print("Balanced Accuracy Score:", balanced_accuracy)

Balanced Accuracy Score: 0.9668615123225841

In [13]:
# Generate a confusion matrix for the model
conf_matrix = confusion_matrix(y_test, predictions)

In [14]:
# Print the classification report for the model
class_report = classification_report(y_test, predictions)
print("Classification Report:\n", class_report)

Classification Report:
               precision    recall  f1-score   support

           0       1.00      0.99      1.00     15001
           1       0.86      0.94      0.90       507

    accuracy                           0.99     15508
   macro avg       0.93      0.97      0.95     15508
weighted avg       0.99      0.99      0.99     15508

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** 
The logistic regression model is very good at predicting healthy loans ('0'). It almost always correctly identifies loans that are not risky, with a precision of 1.00, meaning that all loans predicted as safe are indeed safe. It also identifies the majority of actual safe loans, with a recall of 1.00, meaning that almost all safe loans are correctly classified. However, when it comes to predicting high-risk loans ('1'), the model is not as accurate. It correctly identifies many risky loans, but it also misclassifies some safe loans as risky, leading to a precision of 0.86. Nonetheless, it still identifies the majority of actual risky loans, with a recall of 0.91. Overall, the model performs very well, with an accuracy of 0.99, meaning it correctly predicts loan status about 99% of the time on the test dataset.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [15]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\haillet\anaconda3\lib\site-packages (0.12.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\haillet\anaconda3\lib\site-packages (from imbalanced-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\haillet\anaconda3\lib\site-packages (from imbalanced-learn) (1.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\haillet\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.1.post1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\haillet\anaconda3\lib\site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\haillet\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
pip install --upgrade scikit-learn imbalanced-learn

Requirement already satisfied: scikit-learn in c:\users\haillet\anaconda3\lib\site-packages (1.4.1.post1)
Requirement already satisfied: imbalanced-learn in c:\users\haillet\anaconda3\lib\site-packages (0.12.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\haillet\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\haillet\anaconda3\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\haillet\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\haillet\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
from imblearn.over_sampling import RandomOverSampler

In [18]:
# Import the RandomOverSampler module form imbalanced-learn
random_oversampler = RandomOverSampler(random_state=1)

# Resample the training data to balance the classes
X_train_resampled, y_train_resampled = random_oversampler.fit_resample(X_train, y_train)

# Confirm the balance of the resampled data
print("Original class distribution:", y_train.value_counts())
print("Resampled class distribution:", y_train_resampled.value_counts())

Original class distribution: 0    60035
1     1993
Name: loan_status, dtype: int64
Resampled class distribution: 0    60035
1    60035
Name: loan_status, dtype: int64

In [25]:
# Count the distinct values of the resampled labels data
# Convert y_train_resampled to a pandas Series 
y_train_resampled_series = pd.Series(y_train_resampled)

# Count the distinct values
distinct_values_count = y_train_resampled_series.value_counts()

# Print the distinct values count
distinct_values_count

0    60035
1    60035
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [26]:
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model with random_state=1
logistic_regression_model_resampled = LogisticRegression(random_state=1)

# Fit the model using the resampled training data
logistic_regression_model_resampled.fit(X_train_resampled, y_train_resampled)

# Make a prediction using the testing data
predictions_resampled = logistic_regression_model_resampled.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [27]:
# Print the balanced_accuracy score of the model 
balanced_accuracy_resampled = balanced_accuracy_score(y_test, predictions_resampled)

# Print the balanced accuracy score
balanced_accuracy_resampled

0.9941416134387885

In [30]:
# Generate a confusion matrix for the model
conf_matrix_resampled = confusion_matrix(y_test, predictions_resampled)

In [31]:
# Print the classification report for the model
class_report_resampled = classification_report(y_test, predictions_resampled)

# Print the classification report
print("Classification Report (Resampled):\n", class_report_resampled)

Classification Report (Resampled):
               precision    recall  f1-score   support

           0       1.00      0.99      1.00     15001
           1       0.85      0.99      0.92       507

    accuracy                           0.99     15508
   macro avg       0.93      0.99      0.96     15508
weighted avg       0.99      0.99      0.99     15508

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** 
The logistic regression model, trained with oversampled data, performs very well in predicting both healthy loans (label '0') and high-risk loans (label '1'). For healthy loans, the model achieves nearly perfect precision and very high recall, indicating that it correctly identifies almost all actual healthy loans and makes very few false positive predictions. For high-risk loans, although the precision is slightly lower, the model still identifies a high proportion of actual high-risk loans and has a very high recall, meaning it correctly identifies most of them. Overall, the model demonstrates strong predictive capabilities for both classes, achieving high accuracy and effectively minimizing the impact of class imbalance.